<%- include('includes/head') %>
    <%- include('includes/navbar') %>

        <section class="container students-list">
            <div class="header-content">
                <h1>Registered Students</h1>
                <a href="/students" class="btn-filled">+ Add Student</a>
            </div>

            <%- include('includes/messages')%>

                <div class="responsive-table">
                    <table class="table" id="studentsTable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Course</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (students && students.length> 0) { %>
                                <% students.forEach(student=> { %>
                                    <tr>
                                        <td>
                                            <%= student.name %>
                                        </td>
                                        <td>
                                            <%= student.email %>
                                        </td>
                                        <td>
                                            <%= student.phone %>
                                        </td>
                                        <td>
                                            <span class="course" data-course="<%= student.course %>">
                                                <%= student.course==='design' ? 'UX/UI Design' :
                                                    student.course==='webdevelopment' ? 'Web Development' :
                                                    student.course==='data' ? 'Data Analyses' :
                                                    student.course==='security' ? 'Cyber Security' : student.course %>
                                            </span>
                                        </td>
                                        <td class="actions">
                                            <a href="/student/index/<%= student._id %>" class="edit">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M3 21H21" stroke="#0061FE" stroke-width="2"
                                                        stroke-linecap="round" stroke-linejoin="round" />
                                                    <path d="M7 17V13L17 3L21 7L11 17H7Z" stroke="#0061FE"
                                                        stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                    <path d="M14 6L18 10" stroke="#0061FE" stroke-width="2"
                                                        stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>

                                            </a>
                                            <a href="/student/delete/<%= student._id %>" class="delete">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M7 21C6.45 21 5.97933 20.8043 5.588 20.413C5.19667 20.0217 5.00067 19.5507 5 19V6H4V4H9V3H15V4H20V6H19V19C19 19.55 18.8043 20.021 18.413 20.413C18.0217 20.805 17.5507 21.0007 17 21H7ZM17 6H7V19H17V6ZM9 17H11V8H9V17ZM13 17H15V8H13V17Z"
                                                        fill="#6F0000" />
                                                </svg>

                                            </a>
                                        </td>
                                    </tr>
                                    <% }) %>
                                        <% } else { %>
                                            <tr>
                                                <td colspan="5" class="table-empty">No students found</td>
                                            </tr>
                                            <% } %>
                        </tbody>
                    </table>
                </div>
        </section>

        <script src="/assets/js/app.js"></script>
        <%- include('includes/footer') %>